# 1 Assignment 3

In [4]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [5]:
!pip install savReaderWriter
!pip install pyreadstat

###########REC_1
rec_1 = pd.read_spss( r"../../_data/endes/2019/REC0111.sav" )

import savReaderWriter as sav
with sav.SavHeaderReader( r"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()
      
#Obtaining the metadata from REC0111.sav and saving the dictionaries of variables labels and values labels in two different objects. 
value_labels1 = metadata.valueLabels
var_labels1 = metadata.varLabels

###########REC_2
rec_2 = pd.read_spss( r"../../_data/endes/2019/RE223132.sav" )

import savReaderWriter as sav
with sav.SavHeaderReader( r"../../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata = header.all()

#Obtaining the metadata from RE223132.sav and saving the dictionaries of variables labels and values labels in two different objects.
value_labels2 = metadata.valueLabels
var_labels2 = metadata.varLabels

##########REC_3
rec_3 = pd.read_spss( r"../../_data/endes/2019/RE516171.sav" )

import savReaderWriter as sav
with sav.SavHeaderReader( r"../../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata = header.all()

#Obtaining the metadata from RE516171.sav and saving the dictionaries of variables labels and values labels in two different objects.
value_labels3 = metadata.valueLabels
var_labels3 = metadata.varLabels

Requirement already satisfied: savReaderWriter in c:\users\dorkas\anaconda3\lib\site-packages (3.4.2)
Requirement already satisfied: pyreadstat in c:\users\dorkas\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.2.0 in c:\users\dorkas\anaconda3\lib\site-packages (from pyreadstat) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\dorkas\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dorkas\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dorkas\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dorkas\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)

In [6]:
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [7]:
#Using loc in order to select only the columns requiered and creating the new dataframe called rec1_1.
rec1_1 = rec_1.loc[ : , ('CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133') ]

#Using for loop in to select the variables from the new dataframe rec1_1 and return the labels asocciated to the variables 
# located in var_labels1. 
new_var_labels1 = {i: var_labels1[i] for i in rec1_1}

#Using for loop in to select the name of the variables from the new dataframe rec1_1 and return only the value labels 
#of the variables that have a dictionary asocciated that must be located in value_labels1.
new_value_labels1 = {i: value_labels1[i] for i in rec1_1 if i in value_labels1}

In [8]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Amazonas,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,Amazonas,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,Amazonas,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,Amazonas,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,Amazonas,Urbano,No,No,No,No,No,No,Cemento/ladrillo,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,Ucayali,Rural,No,No,No,No,No,No,Pona,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,Ucayali,Rural,No,No,No,No,No,No,Pona,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,Ucayali,Rural,No,No,No,No,No,No,Pona,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,Ucayali,Rural,No,No,No,No,No,No,Pona,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Ucayali,Rural,No,No,No,No,No,No,Pona,9.0

In [9]:
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples'}

In [10]:
#Using loc in order to select only the columns requiered and creating the new dataframe called rec2_1.
rec2_1 = rec_2.loc[ : , ('CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380') ]

#Using for loop in to select the variables from the new dataframe rec2_1 and return the labels asocciated to the variables 
# located in var_labels2. 
new_var_labels2 = {i: var_labels2[i] for i in rec2_1}

#Using for loop in to select the name of the variables from the new dataframe rec2_1 and return only the value labels 
#of the variables that have a dictionary asocciated that must be located in value_labels2.
new_value_labels2 = {i: value_labels2[i] for i in rec2_1 if i in value_labels2}

In [11]:
rec2_1

,CASEID,V201,V218,V301,V302,V323,V323A,V325A,V326,V327,...,V363,V364,V367,V372,V372A,V375A,V376,V376A,V379,V380
0,000100201 2,2.0,2.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,Farmacia/botica,Farmacia/botica,...,NaN,Usando el método moderno,Entonces,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000100201 3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,3.0,3.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,Hospital ESSALUD,"Hospital, Centro de Salud, Puesto de Salud, Po...",...,NaN,Usando el método moderno,Esperar más,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000102801 6,3.0,3.0,No conoce ningún método,Metodos tradicionales,NaN,NaN,NaN,NaN,NaN,...,NaN,No tiene la intención de,NaN,NaN,NaN,Menopausia,Infertilidad mujer,NaN,NaN,NaN
4,000104801 2,3.0,3.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,Puesto de salud MINSA,"Hospital, Centro de Salud, Puesto de Salud, Po...",...,NaN,Usando el método moderno,Esperar más,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,325406201 2,5.0,5.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,Puesto de salud MINSA,"Hospital, Centro de Salud, Puesto de Salud, Po...",...,NaN,Usando el método moderno,Esperar más,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36918,325406301 2,5.0,5.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,NaN,NaN,...,NaN,Usando el método tradicional,Entonces,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36919,325407001 2,8.0,7.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,NaN,NaN,...,NaN,Usando el método tradicional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36920,325407201 2,2.0,1.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,NaN,NaN,...,NaN,Usando el método tradicional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36921,325407401 2,1.0,1.0,No conoce ningún método,Metodos modernos,NaN,NaN,NaN,Puesto de salud MINSA,"Hospital, Centro de Salud, Puesto de Salud, Po...",...,NaN,Usando el método moderno,Esperar más,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Using loc in order to select only the columns requiered and creating the new dataframe called rec3_1.
rec3_1 = rec_3.loc[ : , ('CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715') ]

#Using for loop in to select the variables from the new dataframe rec3_1 and return the labels asocciated to the variables 
# located in var_labels3.
new_var_labels3 = {i: var_labels3[i] for i in rec3_1}

#Using for loop in to select the name of the variables from the new dataframe rec3_1 and return only the value labels 
#of the variables that have a dictionary asocciated that must be located in value_labels3.
new_value_labels3 = {i: value_labels3[i] for i in rec3_1 if i in value_labels3}

In [13]:
rec3_1

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,Casado,Actualmente casada,Una vez,Vive con ella,NaN,NaN,1.0,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000102801 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,12.0,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
2,000102801 6,No viven juntos,Anteriormente casada,Una vez,NaN,NaN,NaN,8.0,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
3,000104801 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,12.0,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0
4,000113601 2,Viviendo juntos,Actualmente casada,Mas de una vez,Vive con ella,NaN,NaN,12.0,2005.0,1272.0,Tiene mes y año,17.0,13.0,De 10 a 14 años,15.0,2.0,Sí,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,Viviendo juntos,Actualmente casada,Mas de una vez,Vive con ella,NaN,NaN,12.0,1985.0,1032.0,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,3.0,No,5.0
33307,325406301 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,12.0,2002.0,1236.0,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,3.0,No,7.0
33308,325407001 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,11.0,1986.0,1043.0,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,4.0,No,5.0
33309,325407201 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,5.0,2008.0,1301.0,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0
33310,325407401 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,6.0,2013.0,1362.0,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [14]:
# Generating a new column named "year" with the values 2019. 
rec1_1[ 'year' ] = 2019
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,Urbano,No,No,No,No,No,No,Cemento/ladrillo,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,Rural,No,No,No,No,No,No,Pona,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,Rural,No,No,No,No,No,No,Pona,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,Rural,No,No,No,No,No,No,Pona,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019

In [15]:
#Using update in order to add the new key with the label "Year of the survey".
new_var_labels1.update({'year':"Year of the survey"})
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [16]:
#Using merge in order to join the three dataframes rec1_1, rec2_1 and rec3_1 using the column CASEID as the column index. 

endes_2019 = rec1_1.merge( rec2_1 , on = [ 'CASEID' ] , how = "left" , validate = "m:1" ).merge( rec3_1 , on = [ 'CASEID' ] , how = "left" , validate = "m:1" ).head()
endes_2019.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [17]:
#Using update in order to add the dictionaries from new_var_labels2 and new_var_labels3. 
var_labels=new_var_labels1
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

#Using update in order to add the dictionaries from new_value_labels2 and new_value_labels3. 
value_labels=new_value_labels1
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

#Using attrs to assign new attributes for endes_2019 for variables and values labels. 
endes_2019.attrs[ 'value_labels'] = value_labels
endes_2019.attrs[ 'var_labels' ] = var_labels

In [18]:
endes_2019.attrs[ 'var_labels' ]

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'year': 'Year of the survey',
 'V201': 'Total de niños nacidos',
 'V218': 'Número de niños vivos',
 'V301': 'Conocimiento de cualquier método',
 'V302': 'Alguna vez usó cualquier método',
 'V323': 'Marca de la píldora usada',
 'V323A': 'Marca del preservativo utilizado',
 'V325A': 'Costo del método actual',
 'V326': 'Fuente para obtener el actual método anticonceptivo',
 'V327': 'Fuente para obtener el actual método anticonceptivo (Grupos)',
 'V337': 'Meses de uso del método actual',
 'V359': 'Última discontinuidad del método los últimos 5 años',
 'V360': 'Motivo de la última discontinuidad',
 'V361': 'Patrón de uso',
 'V362': 'Intención de uso',
 'V363': 'Método futuro preferido',
 'V364': 'Uso e intención de anticonceptivos',
 'V367': 'Quería quedar embarazada:',
 'V372': 'Se muestra el paquete de pastillas',
 'V372A': 'Se muestra el paquete de Condónes',
 'V375A': 'La razón principal para no utilizar un método',
 'V376': 'La razón principal por la que no piensa usar ningún método en el futuro',
 'V376A': 'Alguna vez usaría algún método',
 'V379': 'Fuente conocida por cualquier método',
 'V380': 'Fuente conocida por cualquier método (Grupos)',
 'V501': 'Estado civil actual',
 'V502': 'Actualmente, antes o nunca sacada',
 'V503': 'Usted ha estado casada o conviviendo solo una vez, más de una vez',
 'V504': 'Su esposo/compañer vive en el hogar o vive en otro lugar',
 'V505': 'Número de otras esposas',
 'V506': 'Número de rango de la esposa',
 'V507': 'Mes - Primer matrimonio',
 'V508': 'Año - Primer matrimonio',
 'V509': 'Fecha del primer matrimonio (CMC)',
 'V510': 'Integridad de la información para la fecha de inicio del primer matrimonio o unión',
 'V511': 'Edad al primer matrimonio',
 'V512': 'Años desde el primer matrimonio',
 'V513': 'Duración del matrimonio (agrupado)',
 'V525': 'Edad en la primera relación sexual',
 'V613': 'Número ideal de niños',
 'V714': 'Actualmente se encuentra trabajando',
 'V715': 'Educación en años individuales del esposo/compañero'}

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [21]:
#We first observe the values of the columns
print(endes_2019[['V201', 'V613', 'V715', 'V511']])

   V201 V613  V715  V511
0   2.0  2.0  11.0  21.0
1   0.0  NaN   NaN   NaN
2   3.0  3.0  14.0  28.0
3   3.0  0.0   6.0  14.0
4   3.0  2.0   6.0  18.0

In [22]:
#We convert the dataframe we got to numeric
endes_2019["V201"] = pd.to_numeric(endes_2019["V201"], errors='coerce')
endes_2019["V613"] = pd.to_numeric(endes_2019["V613"], errors='coerce')
endes_2019["V715"] = pd.to_numeric(endes_2019["V715"], errors='coerce')
endes_2019["V511"] = pd.to_numeric(endes_2019["V511"], errors='coerce')


#Creating a dataframe of describe statistics
df_describe = endes_2019[['V201', 'V613', 'V715', 'V511']].describe().T

#Adding missing values count to dataframe
df_describe['N_missing'] = endes_2019[['V201', 'V613', 'V715', 'V511']].isna().sum()

#Pivot the dataframe to have variables as columns
df_describe = df_describe.reset_index().rename(columns={'index':'Variables'})

#Sort the dataframe by missing values
df_describe.sort_values(by='N_missing', ascending=False, inplace=True)

print(df_describe)

  Variables  count   mean       std   min   25%   50%    75%   max  N_missing
1      V613    4.0   1.75  1.258306   0.0   1.5   2.0   2.25   3.0          1
2      V715    4.0   9.25  3.947573   6.0   6.0   8.5  11.75  14.0          1
3      V511    4.0  20.25  5.909033  14.0  17.0  19.5  22.75  28.0          1
0      V201    5.0   2.20  1.303840   0.0   2.0   3.0   3.00   3.0          0

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [23]:
# change the type of the categorical to numbers 
endes_2019["V201"] = pd.to_numeric(endes_2019["V201"], errors='coerce')
endes_2019["V613"] = pd.to_numeric(endes_2019["V613"], errors='coerce')
endes_2019["V715"] = pd.to_numeric(endes_2019["V715"], errors='coerce')
endes_2019["V511"] = pd.to_numeric(endes_2019["V511"], errors='coerce')

In [24]:
## Group by year and department, then use aggregate function to get the mean of each column
## Change column names 
mean_key_vars = endes_2019.groupby(["V007", "V024"])["V201","V613","V715","V511"].mean()
mean_key_vars = mean_key_vars.rename(columns={"V024": "Region", "V201":"mean_total_children", "V613":"mean_ideal_children", "V715":"mean_hb_yr_educ", "V511":"mean_first_marriage"})

mean_key_vars

C:\Users\DORKAS\AppData\Local\Temp\ipykernel_19812\2638462745.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean_key_vars = endes_2019.groupby(["V007", "V024"])["V201","V613","V715","V511"].mean()

                       mean_total_children  mean_ideal_children  \
V007   V024
2019.0  Huanuco                        NaN                  NaN
        Ica                            NaN                  NaN
        Junin                          NaN                  NaN
        La Libertad                    NaN                  NaN
        Lambayeque                     NaN                  NaN
        Lima                           NaN                  NaN
        Loreto                         NaN                  NaN
        Madre de Dios                  NaN                  NaN
        Moquegua                       NaN                  NaN
        Pasco                          NaN                  NaN
        Piura                          NaN                  NaN
        Puno                           NaN                  NaN
        San Martin                     NaN                  NaN
        Tacna                          NaN                  NaN
        Tumbes                         NaN                  NaN
        Ucayali                        NaN                  NaN
       Amazonas                        2.2                 1.75
       Ancash                          NaN                  NaN
       Apurimac                        NaN                  NaN
       Arequipa                        NaN                  NaN
       Ayacucho                        NaN                  NaN
       Cajamarca                       NaN                  NaN
       Callao                          NaN                  NaN
       Cusco                           NaN                  NaN
       Huancavelica                    NaN                  NaN

                       mean_hb_yr_educ  mean_first_marriage
V007   V024
2019.0  Huanuco                    NaN                  NaN
        Ica                        NaN                  NaN
        Junin                      NaN                  NaN
        La Libertad                NaN                  NaN
        Lambayeque                 NaN                  NaN
        Lima                       NaN                  NaN
        Loreto                     NaN                  NaN
        Madre de Dios              NaN                  NaN
        Moquegua                   NaN                  NaN
        Pasco                      NaN                  NaN
        Piura                      NaN                  NaN
        Puno                       NaN                  NaN
        San Martin                 NaN                  NaN
        Tacna                      NaN                  NaN
        Tumbes                     NaN                  NaN
        Ucayali                    NaN                  NaN
       Amazonas                   9.25                20.25
       Ancash                      NaN                  NaN
       Apurimac                    NaN                  NaN
       Arequipa                    NaN                  NaN
       Ayacucho                    NaN                  NaN
       Cajamarca                   NaN                  NaN
       Callao                      NaN                  NaN
       Cusco                       NaN                  NaN
       Huancavelica                NaN                  NaN

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

In [25]:
## with the group by method we group the year then use a function to get the mean
mean_key_vars = endes_2019.groupby(by=["year","V024"])["V201","V613","V715","V511"].mean()

## change column names 
mean_key_vars = mean_key_vars.rename(columns={"V201":"mean_total_children", "V613":"mean_ideal_children", "V715":"mean_hb_yr_educ", "V511":"mean_first_marriage"})

## the reset index is to have the "dpto" as a new column
mean_key_vars.reset_index(inplace = True)

mean_key_vars = mean_key_vars.rename(columns={"V024":"dpto"})

## select value variables as the four columns indicated
reshape_mean_key_vars = pd.melt(mean_key_vars, id_vars=["dpto"], value_vars=["mean_total_children", "mean_ideal_children", "mean_hb_yr_educ", "mean_first_marriage"], var_name="variables", value_name="values")

reshape_mean_key_vars

C:\Users\DORKAS\AppData\Local\Temp\ipykernel_19812\2546795505.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean_key_vars = endes_2019.groupby(by=["year","V024"])["V201","V613","V715","V511"].mean()

            dpto            variables  values
0        Huanuco  mean_total_children     NaN
1            Ica  mean_total_children     NaN
2          Junin  mean_total_children     NaN
3    La Libertad  mean_total_children     NaN
4     Lambayeque  mean_total_children     NaN
..           ...                  ...     ...
95      Ayacucho  mean_first_marriage     NaN
96     Cajamarca  mean_first_marriage     NaN
97        Callao  mean_first_marriage     NaN
98         Cusco  mean_first_marriage     NaN
99  Huancavelica  mean_first_marriage     NaN

[100 rows x 3 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

In [26]:
#Here we are replicating the last 2 questions in one line code. We do here several operations on the dataframe: "endes_2019".
#Using the groupby method, the code groups the dataframe by the columns "year" and "V024" and then calculates the mean for the columns "V201","V613","V715","V511" and assigns the result to the variable mean_key_vars. This results in a new dataframe where the rows are grouped by the "year" and "V024" columns and the columns "V201","V613","V715","V511" have the mean value for each group.
#Then it renames the columns of mean_key_vars dataframe with new names: "V201" to "mean_total_children", "V613" to "mean_ideal_children", "V715" to "mean_hb_yr_educ", "V511" to "mean_first_marriage".
#Then it reset the index using reset_index() method, which removes the multi-level index and makes the index a normal column.
#Then it renames the columns of mean_key_vars dataframe with new names: "V024" to "dpto".
#Then using the melt() method, it reshape the dataframe in long format and it keeps the columns passed in id_vars, and melt the rest of the columns in to two columns, "variable" and "value". These columns are passed in value_vars and var_name, value_name respectively.

reshape_mean_key_vars = endes_2019.groupby(["year","V024"])["V201","V613","V715","V511"].mean().rename(columns={"V201":"mean_total_children", "V613":"mean_ideal_children", "V715":"mean_hb_yr_educ", "V511":"mean_first_marriage"}).reset_index().rename(columns={"V024":"dpto"}).melt(id_vars=["dpto"], value_vars=["mean_total_children", "mean_ideal_children", "mean_hb_yr_educ", "mean_first_marriage"], var_name="variables", value_name="values")

C:\Users\DORKAS\AppData\Local\Temp\ipykernel_19812\160883911.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  reshape_mean_key_vars = endes_2019.groupby(["year","V024"])["V201","V613","V715","V511"].mean().rename(columns={"V201":"mean_total_children", "V613":"mean_ideal_children", "V715":"mean_hb_yr_educ", "V511":"mean_first_marriage"}).reset_index().rename(columns={"V024":"dpto"}).melt(id_vars=["dpto"], value_vars=["mean_total_children", "mean_ideal_children", "mean_hb_yr_educ", "mean_first_marriage"], var_name="variables", value_name="values")

In [27]:
#Finally we print both resulting dataframes:
print(mean_key_vars)
print(reshape_mean_key_vars)

    year            dpto  mean_total_children  mean_ideal_children  \
0   2019         Huanuco                  NaN                  NaN
1   2019             Ica                  NaN                  NaN
2   2019           Junin                  NaN                  NaN
3   2019     La Libertad                  NaN                  NaN
4   2019      Lambayeque                  NaN                  NaN
5   2019            Lima                  NaN                  NaN
6   2019          Loreto                  NaN                  NaN
7   2019   Madre de Dios                  NaN                  NaN
8   2019        Moquegua                  NaN                  NaN
9   2019           Pasco                  NaN                  NaN
10  2019           Piura                  NaN                  NaN
11  2019            Puno                  NaN                  NaN
12  2019      San Martin                  NaN                  NaN
13  2019           Tacna                  NaN                  NaN
14  2019          Tumbes                  NaN                  NaN
15  2019         Ucayali                  NaN                  NaN
16  2019        Amazonas                  2.2                 1.75
17  2019          Ancash                  NaN                  NaN
18  2019        Apurimac                  NaN                  NaN
19  2019        Arequipa                  NaN                  NaN
20  2019        Ayacucho                  NaN                  NaN
21  2019       Cajamarca                  NaN                  NaN
22  2019          Callao                  NaN                  NaN
23  2019           Cusco                  NaN                  NaN
24  2019    Huancavelica                  NaN                  NaN

    mean_hb_yr_educ  mean_first_marriage
0               NaN                  NaN
1               NaN                  NaN
2               NaN                  NaN
3               NaN                  NaN
4               NaN                  NaN
5               NaN                  NaN
6               NaN                  NaN
7               NaN                  NaN
8               NaN                  NaN
9               NaN                  NaN
10              NaN                  NaN
11              NaN                  NaN
12              NaN                  NaN
13              NaN                  NaN
14              NaN                  NaN
15              NaN                  NaN
16             9.25                20.25
17              NaN                  NaN
18              NaN                  NaN
19              NaN                  NaN
20              NaN                  NaN
21              NaN                  NaN
22              NaN                  NaN
23              NaN                  NaN
24              NaN                  NaN
            dpto            variables  values
0        Huanuco  mean_total_children     NaN
1            Ica  mean_total_children     NaN
2          Junin  mean_total_children     NaN
3    La Libertad  mean_total_children     NaN
4     Lambayeque  mean_total_children     NaN
..           ...                  ...     ...
95      Ayacucho  mean_first_marriage     NaN
96     Cajamarca  mean_first_marriage     NaN
97        Callao  mean_first_marriage     NaN
98         Cusco  mean_first_marriage     NaN
99  Huancavelica  mean_first_marriage     NaN

[100 rows x 3 columns]

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [28]:
#Using merge in order to join reshape_mean_key_vars with endes_2019 using the column "V024" as the column index.
#Also, we must rename column "dpto" into "V024" in order to have the column index and choose m:m cause both dataframe contains multiple index. 

final_result = endes_2019.merge( reshape_mean_key_vars.rename(columns={"dpto":"V024"}) , on = [ 'V024' ] , how = "left" , validate = "m:m" )
final_result.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V510,V511,V512,V513,V525,V613,V714,V715,variables,values
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,mean_total_children,2.20
1,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,mean_ideal_children,1.75
2,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,mean_hb_yr_educ,9.25
3,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,mean_first_marriage,20.25
4,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mean_total_children,2.20