# 1 Assignment 3

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

#### Solution 1

In [2]:
#packages imported
!pip install --user pyreadstat
!pip install savReaderWriter

Requirement already satisfied: pyreadstat in c:\anaconda\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.2.0 in c:\anaconda\lib\site-packages (from pyreadstat) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Collecting savReaderWriter
  Downloading savReaderWriter-3.4.2.tar.gz (50.9 MB)
     ---------------------------------------- 50.9/50.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: savReaderWriter
  Building wheel for savReaderWriter (setup.py): started
  Building wheel for savReaderWriter (setup.py): finished with status 'done'
  Created wheel for savReaderWriter: filename=savReaderWriter-3.4.2-py3-none-any.whl size=51142030 sha256=bb5fda0ac3f4d5d7ca211dc1b8b9ca443d5235f3bdb1e10967c4337a00d452ef
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\cb\a1\bf\2b0abba03732dda64bac1510f20b5d34cae4fe071dc0699336
Successfully built savReaderWriter
Installing collected packages: savReaderWriter
Successfully installed savReaderWriter-3.4.2

In [3]:
#library imported
import savReaderWriter as sav

In [4]:
#files sav imported
rec_1 = pd.read_spss( r"../../_data/endes/2019/REC0111.sav" )
rec_2 = pd.read_spss( r"../../_data/endes/2019/RE223132.sav" )
rec_3 = pd.read_spss( r"../../_data/endes/2019/RE516171.sav" )

In [5]:
#The name of the variable and value labels
with sav.SavHeaderReader( r"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels1 = metadata.varLabels
    value_labels1 = metadata.valueLabels
with sav.SavHeaderReader( r"../../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels2 = metadata.varLabels
    value_labels2 = metadata.valueLabels
with sav.SavHeaderReader( r"../../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels3 = metadata.varLabels
    value_labels3 = metadata.valueLabels

In [6]:
# adding labels to variables
rec_1.attrs[ 'value_labels1' ] = value_labels1
rec_1.attrs[ 'var_labels1' ] = value_labels1
rec_2.attrs[ 'value_labels2' ] = value_labels2
rec_2.attrs[ 'var_labels2' ] = value_labels2
rec_3.attrs[ 'value_labels3' ] = value_labels3
rec_3.attrs[ 'var_labels3' ] = value_labels3

In [7]:
rec_1.attrs[ 'value_labels1' ]

{'V013': {0.0: 'De 12 a 14 años de edad',
  1.0: 'De 15 a 19 años de edad',
  2.0: 'De 20 a 24 años de edad',
  3.0: 'De 25 a 29 años de edad',
  4.0: 'De 30 a 34 años de edad',
  5.0: 'De 35 a 39 años de edad',
  6.0: 'De 40 a 44 años de edad',
  7.0: 'De 45 a 49 años de edad'},
 'V014': {1.0: 'Mes y año',
  2.0: 'Mes y edad - año imputado',
  3.0: 'Año y edad - mes imputado',
  4.0: 'Año y edad - año ignorado supera el año de entrevista',
  5.0: 'Año - edad y mes imputados',
  6.0: 'Edad - año y mes imputados',
  7.0: 'Mes - edad y año imputados',
  8.0: 'Ninguno - edad, mes y año imputados'},
 'V015': {1.0: 'Completa',
  2.0: 'Ausente',
  3.0: 'Aplazada',
  4.0: 'Rechazada',
  5.0: 'Incoompleta',
  6.0: 'Discapacitada',
  7.0: 'Otra'},
 'V018': {0.0: 'Sin calendario'},
 'V019': {0.0: 'Sin calendario'},
 'V020': {0.0: 'Toda la mujer muestra', 1.0: 'Alguna muestra casada'},
 'V023': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V025': {1.0: 'Urbano', 2.0: 'Rural'},
 'V026': {0.0: 'Capital, gran ciudad',
  1.0: 'Pequeña ciudad',
  2.0: 'Pueblo',
  3.0: 'Campo'},
 'V034': {0.0: 'El esposo no está en el hogar'},
 'V042': {0.0: 'No sabeleccionado', 1.0: 'Seleccionado'},
 'V043': {0.0: 'Mujer No sabeleccionada', 1.0: 'Mujer seleccionada'},
 'V044': {0.0: 'Mujer No sabeleccionada',
  1.0: 'Mujer seleccionada y entrevistada',
  2.0: 'Mujer seleccionada, pero la privacidad no es posible',
  3.0: 'Mujer seleccionada, pero no entrevistada'},
 'Q105DD': {31.0: '1', 98.0: 'No sabe el dia'},
 'V101': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: 'Huanuco',
  11.0: 'Ica',
  12.0: 'Junin',
  13.0: 'La Libertad',
  14.0: 'Lambayeque',
  15.0: 'Lima',
  16.0: 'Loreto',
  17.0: 'Madre de Dios',
  18.0: 'Moquegua',
  19.0: 'Pasco',
  20.0: 'Piura',
  21.0: 'Puno',
  22.0: 'San Martin',
  23.0: 'Tacna',
  24.0: 'Tumbes',
  25.0: 'Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V103': {0.0: 'Capital, gran ciudad',
  1.0: 'Ciudad',
  2.0: 'Pueblo',
  3.0: 'Campo',
  4.0: 'En el extranjero'},
 'V104': {95.0: 'Siempre',
  96.0: 'Visitante',
  97.0: 'Inconsistente',
  98.0: 'No sabe'},
 'V105': {0.0: 'Capital, gran ciudad',
  1.0: 'Ciudad',
  2.0: 'Pueblo',
  3.0: 'Campo',
  4.0: 'En el extranjero'},
 'V106': {0.0: 'Sin educación',
  1.0: 'Primario',
  2.0: 'Secundario',
  3.0: 'Mayor'},
 'V113': {11.0: 'Dentro de la vivienda',
  12.0: 'Fuera de la vivienda, pero dentro del edificio',
  13.0: 'Pilón/Grifo público',
  21.0: 'Pozo en la casa/patio/lote',
  22.0: 'Pozo Público',
  41.0: 'Manantial (puquio)',
  43.0: 'Río/Acequia/Laguna',
  51.0: 'Agua de lluvia',
  61.0: 'Camión tanque/Aguatero',
  71.0: 'Agua embotellada',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'V115': {996.0: 'En los lugares', 997.0: 'No residente de jure'},
 'V116': {11.0: 'Vivienda interior',
  12.0: 'Vivienda exterior',
  21.0: 'Letrina ventilada',
  22.0: 'Pozo séptico',
  23.0: 'Latrina (ciego o negro)',
  24.0: 'Latrina sobre el río/lago',
  31.0: 'Río, canal',
  32.0: 'Sin servicio',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'V119': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V128': {11.0: 'Tablones/madera',
  12.0: 'Estera',
  13.0: 'Caña/bambu/pona/palma/troncos/tabique',
  21.0: 'Adobe o tapia tarrajeados',
  22.0: 'Quincha (caña con barro)',
  23.0: 'Piedra con barro',
  24.0: 'Cartón',
  31.0: 'Ladrillo o /Bloques de cemento',
  32.0: 'Piedra o sillar con cal o cemento',
  33.0: 'Tripley',
  41.0: 'Sin paredes',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'V129': {11.0: 'Paja, hojas de palmera etc.',
  12.0: 'Estera',
  21.0: 'Caña o estera con torta de barro ',
  22.0: 'Cartón',
  31.0: 'Concreto armado',
  32.0: 'Madera ',
  33.0: 'Tejas',
  34.0: 'Plancha de calamina, fibra de cemento o similares ',
  41.0: 'Sin techo',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'V130': {96.0: 'Otra'},
 'V131': {1.0: 'Quechua',
  2.0: 'Aimara',
  3.0: 'Ashaninka',
  4.0: 'Awajún/Aguaruna',
  5.0: 'Shipibo/Konibo',
  6.0: 'Shawi/Chayahuita',
  7.0: 'Matsigenka/ Machiguenga',
  8.0: 'Achuar',
  9.0: 'Otra lengua nativa u originaria',
  10.0: 'Castellano',
  11.0: 'Portugués',
  12.0: 'Otra lengua extranjera'},
 'V133': {97.0: 'Inconsistente'},
 'V134': {0.0: 'Capital, ciudad grande',
  1.0: 'Ciudad pequeña',
  2.0: 'Pueblo',
  3.0: 'Campo'},
 'V135': {1.0: 'Residente habitual', 2.0: 'Visitante'},
 'V139': {0.0: 'En el extranjero',
  1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: 'Huanuco',
  11.0: 'Ica',
  12.0: 'Junin',
  13.0: 'La Libertad',
  14.0: 'Lambayeque',
  15.0: 'Lima',
  16.0: 'Loreto',
  17.0: 'Madre de Dios',
  18.0: 'Moquegua',
  19.0: 'Pasco',
  20.0: 'Piura',
  21.0: 'Puno',
  22.0: 'San Martin',
  23.0: 'Tacna',
  24.0: 'Tumbes',
  25.0: 'Ucayali',
  97.0: 'No es residente habitual'},
 'V140': {1.0: 'Área urbana',
  2.0: 'Área rural',
  7.0: 'No es residente habitual'},
 'V141': {0.0: 'Capital, ciudad grande',
  1.0: 'Ciudad pequeña',
  2.0: 'Pueblo',
  3.0: 'Campo',
  7.0: 'No es residente habitual'},
 'V149': {0.0: 'Sin educación',
  1.0: 'Primaria incompleta',
  2.0: 'Primaria completa',
  3.0: 'Secundaria incompleta',
  4.0: 'Secundaria completa',
  5.0: 'Superior'},
 'V150': {1.0: 'Jefe del hogar',
  2.0: 'Esposa/esposo',
  3.0: 'Hijo/Hija',
  4.0: 'Yerno/Nuera ',
  5.0: 'Nieto/Nieta',
  6.0: 'Padre/Madre',
  7.0: 'Suegro/Suegra',
  8.0: 'Hermano/a',
  9.0: 'Conviviente',
  10.0: 'Otro pariente',
  11.0: 'Hijo adoptado/hijo de crianza',
  12.0: 'Sin parentesco',
  15.0: 'Empleada domésdtica',
  98.0: 'No sabe'},
 'V151': {1.0: 'Hombre', 2.0: 'Mujer'},
 'V152': {97.0: '97+', 98.0: 'NS'},
 'V153': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V155': {0.0: 'No puede leer',
  1.0: 'Puede leer sólo parte de la frase',
  2.0: 'Puede leer la frase ',
  3.0: 'No hay tarjeta en el idioma requerido',
  4.0: 'Ciega/problemas visuales'},
 'V156': {0.0: 'No', 1.0: 'Si'},
 'V157': {0.0: 'Nunca',
  1.0: 'De vez en cuando',
  2.0: 'Una vez por semana',
  3.0: 'Casi todos los días'},
 'V158': {0.0: 'Nunca',
  1.0: 'De vez en cuando',
  2.0: 'Una vez por semana',
  3.0: 'Casi todos los días'},
 'V159': {0.0: 'Nunca',
  1.0: 'De vez en cuando',
  2.0: 'Una vez por semana',
  3.0: 'Casi todos los días'},
 'V160': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V161': {1.0: 'Electricidad',
  2.0: 'Gas Licuado (GLP)',
  3.0: 'Gas natural(Tuberia)',
  5.0: 'Kerosene',
  6.0: 'Carbón mineral',
  7.0: 'Carbon vegetal',
  8.0: 'Leña',
  9.0: 'Cañas/Arbustos (secos)',
  10.0: 'Residuos agricolas',
  11.0: 'Bosta',
  95.0: 'No cocina',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'V166': {0.0: 'Sin coloración  - 0 ppm (sin yodo)',
  7.0: 'Coloración tenue - 7 ppm',
  15.0: 'Coloración azul o morado - 15 ppm',
  30.0: 'Coloración morado oscuro - 30 ppm a más',
  994.0: 'No se pudo realizar la prueba ',
  995.0: 'No hay sal en el hogar'},
 'V167': {0.0: 'Ninguno'},
 'V168': {0.0: 'No', 1.0: 'Si'},
 'ML101': {0.0: 'Sin mosquitero',
  1.0: 'Solo mosquiteros tratados',
  2.0: 'Ambos mosquiteros tratados y no tratados',
  3.0: 'Solo mosquiteros no tratados'},
 'QD333_1': {1.0: 'Si', 2.0: 'No'},
 'QD333_2': {1.0: 'Si', 2.0: 'No'},
 'QD333_3': {1.0: 'Si', 2.0: 'No'},
 'QD333_4': {1.0: 'Si', 2.0: 'No'},
 'QD333_5': {1.0: 'Si', 2.0: 'No'},
 'QD333_6': {1.0: 'Si', 2.0: 'No'},
 'V190': {1.0: 'El más pobre',
  2.0: 'Pobrer',
  3.0: 'Medio',
  4.0: 'Rico',
  5.0: 'Más rico'},
 'mujeres12a49': {0.0: 'Mujeres de 12 a 14 de edad, nunca embarazadas',
  1.0: 'Mujeres de 12 a 49 de edad, alguna vez emabrazadas',
  2.0: 'Mujeres de 15 a 49 años de edad'}}

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

#### Solution 2

In [1]:
## Save name of the columns in list
c1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
c2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
c3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

In [9]:
rec1_1=rec_1[['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']]
rec2_1=rec_2[['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']]
rec3_1=rec_3[['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']]

In [10]:
## recreate the dictionaries with filters from the previous step.
new_var_labels1 = dict(map(lambda x: (x, var_labels1[x]) , c1))
new_var_labels2 = dict(map(lambda x: (x, var_labels2[x]) , c2))
new_var_labels3 = dict(map(lambda x: (x, var_labels3[x]) , c3))
new_value_labels1 = dict(map(lambda x: (x, value_labels1[x]) , [x for x in list(value_labels1.keys()) if x in c1]))
new_value_labels2 = dict(map(lambda x: (x, value_labels2[x]) , [x for x in list(value_labels2.keys()) if x in c2]))
new_value_labels3 = dict(map(lambda x: (x, value_labels3[x]) , [x for x in list(value_labels3.keys()) if x in c3]))

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

#### Solution 3

In [11]:
# new generated column and new key
dfd = rec1_1.copy()
dfd.loc[:,"year"] = "2019"
rec1_1 = dfd.copy()
new_var_labels1.update({'year':"Year of the survey"})

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

#### Solution 4

In [12]:
#the merge of the 3 files was performed
endes_2019=rec1_1.merge(rec2_1,on='CASEID',how='outer')\
                .merge(rec3_1,on='CASEID',how='outer')
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,3.0,No,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,3.0,No,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,4.0,No,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

#### Solution 5

In [13]:
#Create var_labels using the method .copy, with this create an copya of new_var_labels1. Then use method .update to
#insert other new_var_labels
var_labels = new_var_labels1.copy()
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)
var_labels

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'year': 'Year of the survey',
 'V201': 'Total de niños nacidos',
 'V218': 'Número de niños vivos',
 'V301': 'Conocimiento de cualquier método',
 'V302': 'Alguna vez usó cualquier método',
 'V323': 'Marca de la píldora usada',
 'V323A': 'Marca del preservativo utilizado',
 'V325A': 'Costo del método actual',
 'V326': 'Fuente para obtener el actual método anticonceptivo',
 'V327': 'Fuente para obtener el actual método anticonceptivo (Grupos)',
 'V337': 'Meses de uso del método actual',
 'V359': 'Última discontinuidad del método los últimos 5 años',
 'V360': 'Motivo de la última discontinuidad',
 'V361': 'Patrón de uso',
 'V362': 'Intención de uso',
 'V363': 'Método futuro preferido',
 'V364': 'Uso e intención de anticonceptivos',
 'V367': 'Quería quedar embarazada:',
 'V372': 'Se muestra el paquete de pastillas',
 'V372A': 'Se muestra el paquete de Condónes',
 'V375A': 'La razón principal para no utilizar un método',
 'V376': 'La razón principal por la que no piensa usar ningún método en el futuro',
 'V376A': 'Alguna vez usaría algún método',
 'V379': 'Fuente conocida por cualquier método',
 'V380': 'Fuente conocida por cualquier método (Grupos)',
 'V501': 'Estado civil actual',
 'V502': 'Actualmente, antes o nunca sacada',
 'V503': 'Usted ha estado casada o conviviendo solo una vez, más de una vez',
 'V504': 'Su esposo/compañer vive en el hogar o vive en otro lugar',
 'V505': 'Número de otras esposas',
 'V506': 'Número de rango de la esposa',
 'V507': 'Mes - Primer matrimonio',
 'V508': 'Año - Primer matrimonio',
 'V509': 'Fecha del primer matrimonio (CMC)',
 'V510': 'Integridad de la información para la fecha de inicio del primer matrimonio o unión',
 'V511': 'Edad al primer matrimonio',
 'V512': 'Años desde el primer matrimonio',
 'V513': 'Duración del matrimonio (agrupado)',
 'V525': 'Edad en la primera relación sexual',
 'V613': 'Número ideal de niños',
 'V714': 'Actualmente se encuentra trabajando',
 'V715': 'Educación en años individuales del esposo/compañero'}

In [14]:
#We use the same logic as the previous section
value_labels = new_value_labels1.copy()
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)
value_labels

{'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V133': {97.0: 'Inconsistente'},
 'V301': {0.0: 'No conoce ningún método',
  1.0: 'Sabe sólo folklórico',
  2.0: 'Sólo sabe trad. mes',
  3.0: 'Conoce el método moderno'},
 'V302': {0.0: 'Nunca usado',
  1.0: 'Otros metodos',
  2.0: 'Metodos tradicionales',
  3.0: 'Metodos modernos'},
 'V323': {1.0: 'Microginon',
  2.0: 'Nordet',
  3.0: 'Lofemenal',
  4.0: 'Gynera',
  5.0: 'Ciclomex',
  6.0: 'Triciclomex',
  7.0: 'Femiane',
  8.0: 'Mercilon',
  9.0: 'Marvelon',
  10.0: 'Lindiol-e',
  11.0: 'Dione 35',
  12.0: 'Cilest',
  13.0: 'Triquilar',
  14.0: 'Trinordiol',
  15.0: 'Minigynon',
  16.0: 'Exluton',
  17.0: 'Ovrette',
  18.0: 'Ovral',
  19.0: 'Mirelle',
  20.0: 'Yasmin Drospyperona',
  21.0: 'Peldura',
  22.0: 'Anuletyc',
  23.0: 'Rigevidon',
  24.0: 'Oral Con-F',
  25.0: 'Canesa',
  26.0: 'Belara',
  27.0: 'Tri_Regol',
  93.0: 'Sin marca (H. FF.AA., FF.PP)',
  94.0: 'Sin marca (ESSALUD)',
  95.0: 'Sin marca (MINSA)',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V323A': {1.0: 'OK',
  2.0: 'Piel',
  3.0: 'Royal',
  4.0: 'Jontex',
  5.0: 'Contempo',
  6.0: 'Gens',
  7.0: 'LifeStyle',
  8.0: 'Sultan',
  9.0: 'Durex',
  10.0: 'Preventor',
  11.0: 'Hanson plans',
  12.0: 'Sensitive',
  13.0: 'Play boy',
  14.0: 'Lubritec',
  15.0: 'Pantera',
  16.0: 'Tex',
  17.0: 'Seohung',
  18.0: 'Aladan corporation',
  19.0: 'Vladi',
  20.0: 'Stalion',
  21.0: 'Latex',
  22.0: 'Pussy Cat',
  23.0: 'Sensación',
  24.0: 'Karex',
  25.0: 'Do it Loverly',
  26.0: 'Nonoxinol - 9',
  27.0: 'Famila 28',
  93.0: 'Sin marca (H. FF.AA., FF.PP)',
  94.0: 'Sin marca (ESSALUD)',
  95.0: 'Sin marca (MINSA)',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V325A': {9999995.0: 'Gratis', 9999998.0: 'No sabe'},
 'V326': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Promotor de salud MINSA ',
  15.0: 'Hospital ESSALUD',
  16.0: 'Policlìnico/Centro/Posta ESSALUD',
  17.0: 'Hospital/Otros de las FFAA & PNP',
  18.0: 'Hospital/Otro de la Municipalidad',
  19.0: 'Otro gobierno',
  21.0: 'Clínica particular',
  22.0: 'Farmacia/botica',
  23.0: 'Consultorio médico particular',
  24.0: 'Clínica/Posta de ONG',
  25.0: 'Promotor de ONG ',
  31.0: 'Tienda/supermercado/hostal',
  32.0: 'Hospital/Otro de la Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'Automedicación',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V327': {1.0: 'Hospital, Centro de Salud, Puesto de Salud, Policlínico del Gobierno',
  2.0: 'Promotor de Salud',
  3.0: 'Clínica/Posta/ Promotor ONG',
  4.0: 'Clínica/Consultorio médico particular',
  5.0: 'Farmacia/botica',
  6.0: 'Tienda, iglesia, amigo',
  7.0: 'Automedicación/Otro',
  8.0: 'No sabe',
  9.0: 'Otro gobierno'},
 'V337': {95.0: 'Todas cal {A core}',
  96.0: '96+ {B core}',
  997.0: 'Inconsistente',
  998.0: 'No sabe'},
 'V359': {1.0: 'Píldora',
  2.0: 'DIU',
  3.0: 'Inyecciones',
  4.0: 'Diafragma',
  5.0: 'Condón',
  6.0: 'Esterilización femenina',
  7.0: 'Esterilización masculina',
  8.0: 'Abstinencia periódica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'Condón femenino',
  15.0: 'Espuma, jalea, óvulos (vaginales)',
  16.0: 'Anticoncepción oral de emergencia',
  17.0: 'Método específico 1',
  18.0: 'Método específico 2',
  19.0: 'Método específico 3',
  20.0: 'Método específico 4'},
 'V360': {1.0: 'Quedó embarazada',
  2.0: 'Quería quedar embarazada',
  3.0: 'Marido desaprobó',
  4.0: 'Efectos secundarios',
  5.0: 'Motivos de salud',
  6.0: 'Acceso, disponibilidad',
  7.0: 'Deseaba método más efectivo',
  8.0: 'Uso inconveniente',
  9.0: 'Sexo poco frecuente/Marido ausente',
  10.0: 'Costo',
  11.0: 'Fatalista',
  12.0: 'Dificil quedar embarazda/menopausia',
  13.0: 'Disolución matrimonial',
  14.0: 'Otro',
  98.0: 'No sabe'},
 'V361': {1.0: 'Actualmente usando',
  2.0: 'Usado desde el último nacimiento',
  3.0: 'Usado antes del último nacimiento',
  4.0: 'Nunca usado'},
 'V362': {1.0: 'En los próximos 12 meses',
  2.0: 'Usar más tarde',
  3.0: 'No está seguro sobre el momento',
  4.0: 'No está seguro sobre el uso',
  5.0: 'No tiene la intención',
  6.0: 'Nunca tuve relaciones sexuales'},
 'V363': {1.0: 'Píldora',
  2.0: 'DIU',
  3.0: 'Inyección',
  4.0: 'Diafragma',
  5.0: 'Condón',
  6.0: 'Esterilización femenina',
  7.0: 'Esterilización masculina',
  8.0: 'Abstinencia periódica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'Condón femenino',
  15.0: 'Espuma, jalea, óvulos (vaginales)',
  16.0: 'Anticoncepción oral de emergencia',
  98.0: 'No sabe'},
 'V364': {1.0: 'Usando el método moderno',
  2.0: 'Usando el método tradicional',
  3.0: 'No-usuario tiene la intención de',
  4.0: 'No tiene la intención de',
  5.0: 'Nunca tuve relaciones sexuales'},
 'V367': {1.0: 'Entonces', 2.0: 'Esperar más', 3.0: 'No quería más'},
 'V372': {0.0: 'Paquete no visto', 1.0: 'Paquete visto'},
 'V372A': {0.0: 'Paquete no visto', 1.0: 'Paquete visto'},
 'V375A': {11.0: 'No casado',
  21.0: 'No tiene relaciones sexuales',
  22.0: 'Sexo poco frecuente',
  23.0: 'Menopausia',
  24.0: 'Infertilidad/Subfecundidad',
  25.0: 'Postparto/Lactancia',
  26.0: 'Quiere más hijas(os)',
  27.0: 'Embarazada',
  28.0: 'Histerectomìa',
  31.0: 'Entrevistada se opone',
  32.0: 'Esposo/compañero se opuso',
  33.0: 'Otros se oponen',
  34.0: 'Prohibición religiosa',
  41.0: 'No conoce ningún método',
  42.0: 'No conoce ninguna fuente',
  51.0: 'Problemas de salud',
  52.0: 'Miedo a efectos secundarios',
  53.0: 'Falta de acceso',
  54.0: 'Muy costoso',
  55.0: 'Uso inconveniente',
  56.0: 'Interfiere con procesos normales del cuerpo',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V376': {11.0: 'No casado',
  22.0: 'Sexo poco frecuente',
  23.0: 'Menopáusica/histerectomizada',
  24.0: 'Infertilidad mujer',
  25.0: 'Infertilidad hombre',
  26.0: 'Quiere más hijas(os)',
  31.0: 'Entrevistada se opone',
  32.0: 'Esposo/compañero se opuso',
  33.0: 'Otros se oponen',
  34.0: 'Prohibición religiosa',
  41.0: 'No conoce ningún método',
  42.0: 'No conoce ninguna fuente',
  51.0: 'Problemas de salud',
  52.0: 'Miedo a efectos secundarios',
  53.0: 'Falta de acceso',
  54.0: 'Muy costoso',
  55.0: 'Uso inconveniente',
  56.0: 'Interfiere con procesos normales del cuerpo',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V376A': {0.0: 'No', 1.0: 'Si', 8.0: 'No sabe'},
 'V379': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Trabajadora sanitaria MINSA',
  15.0: 'Hospital ESSALUD',
  16.0: 'Centro/Correo ESSALUD',
  17.0: 'Campaña/feria',
  18.0: 'Otro gobierno',
  21.0: 'Clínica privada',
  22.0: 'Farmacia',
  23.0: 'Médico privado',
  24.0: 'Clínica/FP post ONG',
  25.0: 'ONG de trabajadores de la salud',
  31.0: 'Tienda/supermercado',
  32.0: 'Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'Automedicación',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V380': {1.0: 'Govt Clinical/Pharm',
  2.0: 'Casa de Gobierno/Comm liv',
  3.0: 'ONG',
  4.0: 'Private Clin/Deliv',
  5.0: 'Farmacia Privada',
  6.0: 'Tienda, iglesia, amigo',
  7.0: 'Otro',
  8.0: 'No sabe'},
 'V501': {0.0: 'Nunca casada',
  1.0: 'Casado',
  2.0: 'Viviendo juntos',
  3.0: 'Viuda',
  4.0: 'Divorciada',
  5.0: 'No viven juntos'},
 'V502': {0.0: 'Nunca casada',
  1.0: 'Actualmente casada',
  2.0: 'Anteriormente casada'},
 'V503': {1.0: 'Una vez', 2.0: 'Mas de una vez'},
 'V504': {1.0: 'Vive con ella', 2.0: 'Vive en otro sitio'},
 'V505': {0.0: 'No otras esposas', 98.0: 'No sabe'},
 'V506': {98.0: 'No sabe'},
 'V510': {1.0: 'Tiene mes y año',
  2.0: 'Tiene mes y edad - imputa año',
  3.0: 'Tiene año y edad - imputa mes',
  5.0: 'Tiene año - imputa mes',
  6.0: 'Tiene edad - imputa mes año',
  7.0: 'Tiene mes - imputa año',
  8.0: 'Ninguno - imputa todo'},
 'V513': {0.0: 'Nunca casada',
  1.0: 'De 0 a 4 años',
  2.0: 'De 5 a 9 años',
  3.0: 'De 10 a 14 años',
  4.0: 'De 15 a 19 años',
  5.0: 'De 20 a 24 años',
  6.0: 'De 25 a 29 años',
  7.0: 'De 30 a más años'},
 'V525': {0.0: 'Nunca tuvo relaciones sexuales', 96.0: 'En la primera union'},
 'V613': {96.0: 'Respuesta no numérica'},
 'V714': {0.0: 'No', 1.0: 'Sí'},
 'V715': {98.0: 'No sabe'}}

In [15]:
#We add labels to endes_2019
endes_2019.attrs["var_labels"] = var_labels
endes_2019.attrs["value_labels"] = value_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

#### Solution 6

In [16]:
# View variables
columns = ["V201", "V613", "V715", "V511"]
columns

['V201', 'V613', 'V715', 'V511']

In [17]:
#Describe variables
df = endes_2019[columns].describe(include='all')
df

                V201     V613     V715          V511
count   36922.000000  33311.0  25881.0  25881.000000
unique           NaN     15.0     19.0           NaN
top              NaN      2.0     11.0           NaN
freq             NaN  16983.0   9442.0           NaN
mean        1.781946      NaN      NaN     20.463738
std         1.749109      NaN      NaN      4.858358
min         0.000000      NaN      NaN     10.000000
25%         0.000000      NaN      NaN     17.000000
50%         1.000000      NaN      NaN     19.000000
75%         3.000000      NaN      NaN     23.000000
max        13.000000      NaN      NaN     48.000000

In [18]:
#explore labels of the variable
endes_2019.attrs["value_labels"]["V613"]

{96.0: 'Respuesta no numérica'}

In [19]:
endes_2019.attrs["value_labels"]["V715"]

{98.0: 'No sabe'}

In [20]:
print(df, "\n")

                V201     V613     V715          V511
count   36922.000000  33311.0  25881.0  25881.000000
unique           NaN     15.0     19.0           NaN
top              NaN      2.0     11.0           NaN
freq             NaN  16983.0   9442.0           NaN
mean        1.781946      NaN      NaN     20.463738
std         1.749109      NaN      NaN      4.858358
min         0.000000      NaN      NaN     10.000000
25%         0.000000      NaN      NaN     17.000000
50%         1.000000      NaN      NaN     19.000000
75%         3.000000      NaN      NaN     23.000000
max        13.000000      NaN      NaN     48.000000

In [21]:
# Generate data frame with descriptive esadisticos of selected variables. 
df1 = df.loc[["min","max","mean","count"]].transpose().reset_index()
df1

  index   min   max       mean    count
0  V201   0.0  13.0   1.781946  36922.0
1  V613   NaN   NaN        NaN  33311.0
2  V715   NaN   NaN        NaN  25881.0
3  V511  10.0  48.0  20.463738  25881.0

In [22]:
#Rename labels of columns
df2 = df1.rename(columns = {"index":"Variables", "min":"Min", "max":"Max","mean":"Mean","count":"N_obs"})
df2

  Variables   Min   Max       Mean    N_obs
0      V201   0.0  13.0   1.781946  36922.0
1      V613   NaN   NaN        NaN  33311.0
2      V715   NaN   NaN        NaN  25881.0
3      V511  10.0  48.0  20.463738  25881.0

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

#### Solution 7

In [112]:
## Replace the categorical response to 0 in column V613
endes_2019.V613 = endes_2019.V613.replace("Respuesta no numérica", 0)
## Change from categorical column to numerical column. Code obbtained from https://www.statology.org/convert-categorical-variable-to-numeric-pandas/ 
endes_2019['V613'] = pd.factorize(endes_2019['V613'])[0]

## Replace the categorical response to 0 in column V715
endes_2019.V715 = endes_2019.V715.replace("No sabe", 0)
## Change from categorical column to numerical column. Code obbtained from https://www.statology.org/convert-categorical-variable-to-numeric-pandas/ 
endes_2019['V715'] = pd.factorize(endes_2019['V715'])[0]

## Group by year and department, then use aggregate function to get the mean of each column
mean_key_vars = endes_2019.groupby(["year", "V024"]).agg({"V201": "mean", "V613":"mean", "V715" :"mean", "V511": "mean"})
## Change column names
mean_key_vars.columns = ['mean_total_children', 'mean_ideal_children', "mean_hb_yr_educ", "mean_first_marriage"]
## Print
mean_key_vars

                     mean_total_children  mean_ideal_children  \
year V024
2019  Huanuco                   1.989754             1.848993
      Ica                       1.671034             1.659489
      Junin                     1.836656             1.507622
      La Libertad               1.704082             1.677105
      Lambayeque                1.673928             1.711488
      Lima                      1.476121             1.544095
      Loreto                    2.157568             1.811629
      Madre de Dios             1.972514             1.735879
      Moquegua                  1.626724             1.460711
      Pasco                     1.854436             1.847627
      Piura                     1.812752             1.938030
      Puno                      1.794307             1.257453
      San Martin                1.903340             1.737324
      Tacna                     1.436502             1.410332
      Tumbes                    1.756925             1.774216
      Ucayali                   2.012258             1.651923
     Amazonas                   1.980892             1.815662
     Ancash                     1.771065             1.704667
     Apurimac                   2.003463             1.574359
     Arequipa                   1.539910             1.435277
     Ayacucho                   1.848787             1.664785
     Cajamarca                  1.931559             1.703346
     Callao                     1.567164             1.653179
     Cusco                      1.894415             1.429412
     Huancavelica               2.083969             1.648333

                     mean_hb_yr_educ  mean_first_marriage
year V024
2019  Huanuco               4.739597            19.818632
      Ica                   2.538358            20.747208
      Junin                 3.014482            20.683761
      La Libertad           3.524704            20.774678
      Lambayeque            3.014360            20.953831
      Lima                  2.450416            21.946329
      Loreto                3.457904            18.448529
      Madre de Dios         3.609387            19.467449
      Moquegua              2.451613            21.640046
      Pasco                 2.810991            20.395379
      Piura                 3.565558            20.451737
      Puno                  2.479675            20.398964
      San Martin            4.033803            18.953155
      Tacna                 2.166790            22.065095
      Tumbes                3.303547            19.409821
      Ucayali               3.212821            18.985481
     Amazonas               3.758143            19.266152
     Ancash                 3.328998            20.591581
     Apurimac               3.480342            20.064982
     Arequipa               2.717639            22.304394
     Ayacucho               3.274524            20.340228
     Cajamarca              4.130855            19.610695
     Callao                 2.375080            21.517241
     Cusco                  3.352101            20.283154
     Huancavelica           3.512500            19.780769

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

#### Solution 8

In [119]:
## Reset index to have the "dpto" as a new column
mean_key_vars = mean_key_vars.reset_index(inplace=False)

## we use melt to change the shape from wide to long
## select ID variable the "dpto" column, which is V024 in our case. 
## select value variables as the four columns indicated
reshape_mean_key_vars = mean_key_vars.melt(id_vars = "V024", value_vars = ["mean_total_children", "mean_ideal_children", "mean_hb_yr_educ", "mean_first_marriage"])

## Change the column names as indicated in the exercise
reshape_mean_key_vars.columns = ['dpto', 'variables', "values"]

## Print the new variable
reshape_mean_key_vars

            dpto            variables     values
0        Huanuco  mean_total_children   1.989754
1            Ica  mean_total_children   1.671034
2          Junin  mean_total_children   1.836656
3    La Libertad  mean_total_children   1.704082
4     Lambayeque  mean_total_children   1.673928
..           ...                  ...        ...
95      Ayacucho  mean_first_marriage  20.340228
96     Cajamarca  mean_first_marriage  19.610695
97        Callao  mean_first_marriage  21.517241
98         Cusco  mean_first_marriage  20.283154
99  Huancavelica  mean_first_marriage  19.780769

[100 rows x 3 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

#### Solution 9

In [137]:
## Question 7
## V201": "mean", "V613":"mean", "V715" :"mean", "V511"

## Since the categorical variables were converted to numerical in previous exercise, we only need to groupby and get mean of indicated columns
## In a simple unique line, we first group by year and dpto, then calculate mean of all columns.
## Finally, we selected the expected columns and change their names using rename function.
endes_2019.groupby(["year", "V024"]).mean()[["V201", "V613", "V715", "V511"]].rename(columns= {"V201": "mean_total_children", "V613":"mean_ideal_children", "V715": "mean_hb_yr_educ", "V511":"mean_first_marriage"})


## Question 8
## In one line, we used the methods melt, indicating the identifier variable as dpto (V024) and value variables (4 columns)
## Then we changed the name of the three columns using the function rename
mean_key_vars.melt(id_vars = "V024", value_vars = ["mean_total_children", "mean_ideal_children", "mean_hb_yr_educ", "mean_first_marriage"]).rename(columns = {"V024": "dpto", "variable": "variables", "value":"values"})

            dpto            variables     values
0        Huanuco  mean_total_children   1.989754
1            Ica  mean_total_children   1.671034
2          Junin  mean_total_children   1.836656
3    La Libertad  mean_total_children   1.704082
4     Lambayeque  mean_total_children   1.673928
..           ...                  ...        ...
95      Ayacucho  mean_first_marriage  20.340228
96     Cajamarca  mean_first_marriage  19.610695
97        Callao  mean_first_marriage  21.517241
98         Cusco  mean_first_marriage  20.283154
99  Huancavelica  mean_first_marriage  19.780769

[100 rows x 3 columns]

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

#### Solution 10

In [126]:
print(reshape_mean_key_vars)
print(endes_2019)

## Use the method merge to merge the two dataframes. 
## Indicate that the Identifier column in endes_2019 is V024, while in reshape_mean_key_vars is dpto.
final_result = pd.merge(endes_2019, reshape_mean_key_vars, left_on = "V024" ,right_on="dpto")

## Print the new database
print(final_result)

            dpto            variables     values
0        Huanuco  mean_total_children   1.989754
1            Ica  mean_total_children   1.671034
2          Junin  mean_total_children   1.836656
3    La Libertad  mean_total_children   1.704082
4     Lambayeque  mean_total_children   1.673928
..           ...                  ...        ...
95      Ayacucho  mean_first_marriage  20.340228
96     Cajamarca  mean_first_marriage  19.610695
97        Callao  mean_first_marriage  21.517241
98         Cusco  mean_first_marriage  20.283154
99  Huancavelica  mean_first_marriage  19.780769

[100 rows x 3 columns]
                   CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000100201  2  PE6     1.0   2.0   2.0     1.0  2019.0  1434.0
1            000100201  3  PE6     1.0   2.0   3.0     1.0  2019.0  1434.0
2            000102801  2  PE6     1.0  28.0   2.0     1.0  2019.0  1434.0
3            000102801  6  PE6     1.0  28.0   6.0     1.0  2019.0  1434.0
4            000104801  2  PE6     1.0  48.0   2.0     1.0  2019.0  1434.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
38330        325406201  2  PE6  3254.0  62.0   2.0  3254.0  2019.0  1440.0
38331        325406301  2  PE6  3254.0  63.0   2.0  3254.0  2019.0  1440.0
38332        325407001  2  PE6  3254.0  70.0   2.0  3254.0  2019.0  1440.0
38333        325407201  2  PE6  3254.0  72.0   2.0  3254.0  2019.0  1440.0
38334        325407401  2  PE6  3254.0  74.0   2.0  3254.0  2019.0  1440.0

       V009    V010  ...    V508    V509                    V510  V511  V512  \
0       4.0  1986.0  ...  2008.0  1297.0         Tiene mes y año  21.0  11.0
1       1.0  2007.0  ...     NaN     NaN                     NaN   NaN   NaN
2       6.0  1983.0  ...  2011.0  1344.0         Tiene mes y año  28.0   7.0
3       3.0  1970.0  ...  1984.0  1016.0  Tiene año - imputa mes  14.0  34.0
4       5.0  1991.0  ...  2009.0  1320.0         Tiene mes y año  18.0   9.0
...     ...     ...  ...     ...     ...                     ...   ...   ...
38330  12.0  1971.0  ...  1985.0  1032.0         Tiene mes y año  14.0  34.0
38331   6.0  1988.0  ...  2002.0  1236.0         Tiene mes y año  14.0  17.0
38332   7.0  1973.0  ...  1986.0  1043.0         Tiene mes y año  13.0  33.0
38333  12.0  1994.0  ...  2008.0  1301.0         Tiene mes y año  13.0  11.0
38334  10.0  1996.0  ...  2013.0  1362.0         Tiene mes y año  16.0   6.0

                   V513  V525 V613 V714 V715
0       De 10 a 14 años  17.0    0   Sí    0
1                   NaN   NaN    1  NaN    1
2         De 5 a 9 años  18.0    2   Sí    2
3      De 30 a más años  14.0    3   No    3
4         De 5 a 9 años  15.0    0   No    3
...                 ...   ...  ...  ...  ...
38330  De 30 a más años  12.0    2   No    9
38331   De 15 a 19 años  12.0    2   No   14
38332  De 30 a más años  12.0    5   No    9
38333   De 10 a 14 años  13.0    0   No    0
38334     De 5 a 9 años  15.0    0   No    0

[38335 rows x 64 columns]

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V511,V512,V513,V525,V613,V714,V715,dpto,variables,values
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,De 10 a 14 años,17.0,0,Sí,0,Amazonas,mean_total_children,1.980892
1,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,De 10 a 14 años,17.0,0,Sí,0,Amazonas,mean_ideal_children,1.815662
2,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,De 10 a 14 años,17.0,0,Sí,0,Amazonas,mean_hb_yr_educ,3.758143
3,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,De 10 a 14 años,17.0,0,Sí,0,Amazonas,mean_first_marriage,19.266152
4,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,1,NaN,1,Amazonas,mean_total_children,1.980892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153335,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,13.0,11.0,De 10 a 14 años,13.0,0,No,0,Ucayali,mean_first_marriage,18.985481
153336,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,De 5 a 9 años,15.0,0,No,0,Ucayali,mean_total_children,2.012258
153337,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,De 5 a 9 años,15.0,0,No,0,Ucayali,mean_ideal_children,1.651923
153338,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,De 5 a 9 años,15.0,0,No,0,Ucayali,mean_hb_yr_educ,3.212821
153339,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,De 5 a 9 años,15.0,0,No,0,Ucayali,mean_first_marriage,18.985481