# 1 Assignment 3

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [3]:
#rec_1 = pd.read_spss( r"../../_data/endes/2019/REC0111.sav" )
#rec_2 = pd.read_spss( r"../../_data/endes/2019/RE223132.sav" )
#rec_3 = pd.read_spss( r"../../_data/endes/2019/RE516171.sav" )

In [18]:
# Para descargar las bases de datos instalamos el paquete pyreadstat y obtenemos la base datos, así como
# los respectivos encabezados y etiquetas de las columnas:
!pip install pyreadstat

import pyreadstat

rec_1, meta1 = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
rec_2, meta2 = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
rec_3, meta3 = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')

Requirement already satisfied: pyreadstat in c:\anaconda\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.2.0 in c:\anaconda\lib\site-packages (from pyreadstat) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)

In [19]:
#Ahora hallamos los nombres de las variables y los respectivos valores
var_labels1 = meta1.column_names_to_labels 
var_labels2 = meta2.column_names_to_labels 
var_labels3 = meta3.column_names_to_labels

value_labels1 = meta1.variable_value_labels
value_labels2 = meta2.variable_value_labels
value_labels3 = meta3.variable_value_labels

In [20]:
# Finalmente generamos los atributos en la base de datos 
rec_1.attrs[ 'value_labels' ] = var_labels1
rec_1.attrs[ 'var_labels' ] = value_labels1 

rec_2.attrs[ 'value_labels' ] = var_labels2
rec_2.attrs[ 'var_labels' ] = value_labels2

rec_3.attrs[ 'value_labels' ] = var_labels3
rec_3.attrs[ 'var_labels' ] = value_labels3

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [21]:
#Procedemos a seleccionar las columnas relevantes para cada base de datos
rec1_1 = rec_1.loc[ : , [ 'CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 
                         'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 
                         'V127', 'V133' ]]

rec2_1 = rec_2.loc[ : , [ 'CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 
                         'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 
                         'V375A', 'V376', 'V376A', 'V379', 'V380']]

rec3_1 = rec_3.loc[ : , [ 'CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 
                         'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715' ]]

In [22]:
#Ahora realizamos la misma selección pero para cada juego de variables:
new_var_labels1 = { k_1: var_labels1[ k_1 ] for k_1 in rec1_1.keys() }
#new_var_labels1

new_var_labels2 = { k_2: var_labels2[ k_2 ] for k_2 in rec2_1.keys() }
#new_var_labels2

new_var_labels3 = { k_3: var_labels3[ k_3 ] for k_3 in rec3_1.keys() }
#new_var_labels3

In [23]:
#Hacemos lo mismo para cada juego de valores de las respectivas variables:
new_value_labels1 = { k1: value_labels1[ k1 ] for k1 in value_labels1 if k1 in rec1_1.keys() }
#new_value_labels1

new_value_labels2 = { k2: value_labels2[ k2 ] for k2 in value_labels2 if k2 in rec2_1.keys() }
#new_value_labels2

new_value_labels3 = { k3: value_labels3[ k3 ] for k3 in value_labels3 if k3 in rec3_1.keys() }
#new_value_labels3

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [24]:
#Generamos la nueva columna de año: 
rec1_1.loc[ : , 'year' ] = 2019
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

In [25]:
#Incorporamos Year al diccionario de etiquetas:
new = {'Year': "Year of the survey"}
new_var_labels1.update(new)
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'Year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [26]:
# Validamos el tamaño de las bases
print(rec1_1.shape)
print(rec2_1.shape)
print(rec3_1.shape)

(38335, 23)
(36922, 25)
(33311, 18)

In [27]:
#Generamos primero el merge entre la base 1 y la base 2, pero considerando que la base 1 es de mayor dimensión
# que la base 2:
endes_2019_prelim =  rec1_1.merge( rec2_1 , on = [ 'CASEID' ] , how = "left" , validate = "m:1" )

#Ahora realizamos la fusión entre el merge preliminar y la base 3, considerando lo mismo:
endes_2019 =  endes_2019_prelim.merge( rec3_1 , on = [ 'CASEID' ] , how = "left" , validate = "m:1" )

endes_2019.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [28]:
#Procedemos a unificar los diccionarios de las variables, lo hacemos centralizando la información en el primer
#diccionario

new_var_labels1.update(new_var_labels2)
new_var_labels1.update(new_var_labels3)

var_labels = new_var_labels1.copy()

#Ahora procedemos a realizar lo mismo con los valores, aplicando el comando update
new_value_labels1.update(new_value_labels2)
new_value_labels1.update(new_value_labels3)

value_labels = new_value_labels1.copy()

# Finalmente generamos los atributos en la base de datos 
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'value_labels' ] = value_labels

# Verificamos los datos
endes_2019.attrs[ 'var_labels' ]

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'Year': 'Year of the survey',
 'V201': 'Total de niños nacidos',
 'V218': 'Número de niños vivos',
 'V301': 'Conocimiento de cualquier método',
 'V302': 'Alguna vez usó cualquier método',
 'V323': 'Marca de la píldora usada',
 'V323A': 'Marca del preservativo utilizado',
 'V325A': 'Costo del método actual',
 'V326': 'Fuente para obtener el actual método anticonceptivo',
 'V327': 'Fuente para obtener el actual método anticonceptivo (Grupos)',
 'V337': 'Meses de uso del método actual',
 'V359': 'Última discontinuidad del método los últimos 5 años',
 'V360': 'Motivo de la última discontinuidad',
 'V361': 'Patrón de uso',
 'V362': 'Intención de uso',
 'V363': 'Método futuro preferido',
 'V364': 'Uso e intención de anticonceptivos',
 'V367': 'Quería quedar embarazada:',
 'V372': 'Se muestra el paquete de pastillas',
 'V372A': 'Se muestra el paquete de Condónes',
 'V375A': 'La razón principal para no utilizar un método',
 'V376': 'La razón principal por la que no piensa usar ningún método en el futuro',
 'V376A': 'Alguna vez usaría algún método',
 'V379': 'Fuente conocida por cualquier método',
 'V380': 'Fuente conocida por cualquier método (Grupos)',
 'V501': 'Estado civil actual',
 'V502': 'Actualmente, antes o nunca sacada',
 'V503': 'Usted ha estado casada o conviviendo solo una vez, más de una vez',
 'V504': 'Su esposo/compañer vive en el hogar o vive en otro lugar',
 'V505': 'Número de otras esposas',
 'V506': 'Número de rango de la esposa',
 'V507': 'Mes - Primer matrimonio',
 'V508': 'Año - Primer matrimonio',
 'V509': 'Fecha del primer matrimonio (CMC)',
 'V510': 'Integridad de la información para la fecha de inicio del primer matrimonio o unión',
 'V511': 'Edad al primer matrimonio',
 'V512': 'Años desde el primer matrimonio',
 'V513': 'Duración del matrimonio (agrupado)',
 'V525': 'Edad en la primera relación sexual',
 'V613': 'Número ideal de niños',
 'V714': 'Actualmente se encuentra trabajando',
 'V715': 'Educación en años individuales del esposo/compañero'}

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [92]:
# Buscamos y contamos los valores perdidos en cada una de las variables solicitadas: total children ever born (V201), 
# Ideal number of children (V613), Husbands education-single yrs (V715), and Age at first marriage (V511)
endes2019_missing = endes_2019.loc[ : , ["V201","V613","V715","V511"]].isnull().sum()
endes2019_missing

V201     1413
V613     5024
V715    12454
V511    12454
dtype: int64

In [132]:
# Se genera un objeto que contenga las operaciones solicitadas de media, número de observaciones, desviación estándar, entre otras.
# Para ello, se usa el método loc para visualizar solo las variables solicitas en el ejercicio, luego se aplica la función
# describe para solicitar los estadísticos respectivos. A su vez, se precisa el argumento percentiles 
# para no solicitar los perceptiles 25 y 75 que suceden por defecto
endes2019_1 = endes_2019.loc[ : , ["V201","V613","V715","V511"]].describe(percentiles=[])
endes2019_2 = pd.DataFrame(endes2019_1)
# Para generar un índice en el dataframe nueva 
endes2019_3 = endes2019_2.reset_index()
# Creamos una fila con el conteo de los valores perdidos mediate el método .append()
n_missing = {'index': 'n_missing', 'V201':1413, 'V613':5024, 'V715':12454, 'V511':12454}
endes2019_4 = endes2019_3.append(n_missing, ignore_index=True)
endes2019_4
# endes2019_5 = endes2019_4.pivot(columns = 'index')
# endes2019_5

C:\Users\mtint\AppData\Local\Temp\ipykernel_5000\2684867691.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  endes2019_4 = endes2019_3.append(n_missing, ignore_index=True)

       index          V201          V613          V715          V511
0      count  36922.000000  33311.000000  25881.000000  25881.000000
1       mean      1.781946      2.455345     11.624474     20.463738
2        std      1.749109      3.849126      9.323184      4.858358
3        min      0.000000      0.000000      0.000000     10.000000
4        50%      1.000000      2.000000     11.000000     19.000000
5        max     13.000000     96.000000     98.000000     48.000000
6  n_missing   1413.000000   5024.000000  12454.000000  12454.000000

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [141]:
# Se usa loc para seleccionar las variables solicitadas en el ejemplo, luego se añada el método gruopby para solicitar cualquier output 
# en función a la variable departamente (V024), luego se agrega la media. 
endes_2019_r = endes_2019.loc[ : , ["V201","V613","V715","V511","V024"]].groupby(['V024']).mean()
# Se genera el objeto mean_keys_vars y renombrando la etiqueta de las columnas a través de .rename
mean_key_vars = endes_2019_r.rename(columns={'V201': 'mean_total_children',
                             'V613': 'mean_ideal_children',
                             'V715': 'mean_hb_yr_educ',
                             'V511': 'mean_first_marriage'})
mean_key_vars

,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
V024,,,,
1.0,1.980892,2.519355,9.611379,19.266152
2.0,1.771065,2.383260,11.789534,20.591581
3.0,2.003463,2.391176,11.063779,20.064982
4.0,1.539910,2.441390,13.714898,22.304394
5.0,1.848787,2.209026,11.285419,20.340228
6.0,1.931559,2.545923,9.759358,19.610695
7.0,1.567164,2.313846,13.327586,21.517241
8.0,1.894415,2.100097,11.195938,20.283154
9.0,2.083969,4.008662,11.008974,19.780769
10.0,1.989754,2.591647,9.902874,19.818632
11.0,1.671034,2.494357,12.350254,20.747208
12.0,1.836656,2.199660,11.221154,20.683761
13.0,1.704082,2.431468,10.758584,20.774678
14.0,1.673928,3.168783,11.550098,20.953831
15.0,1.476121,2.277727,13.115052,21.946329
16.0,2.157568,2.476703,10.109375,18.448529
17.0,1.972514,2.526173,12.405550,19.467449
18.0,1.626724,2.052925,12.964120,21.640046
19.0,1.854436,2.526570,12.595635,20.395379
20.0,1.812752,2.681343,11.730695,20.451737
21.0,1.794307,2.119433,11.174870,20.398964
22.0,1.903340,2.493333,9.705545,18.953155
23.0,1.436502,2.013083,12.815937,22.065095
24.0,1.756925,2.469824,11.856468,19.409821
25.0,2.012258,2.388399,10.788566,18.985481

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**