In [53]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 99%; }
    div#menubar-container     { width: 80%; }
    div#maintoolbar-container { width: 99%; }a
</style>
"""))

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

In [2]:
import pandas as pd
import numpy as np
import unidecode

#### 1. Scraping peruvian universities data

In [4]:
url = 'https://www.sunedu.gob.pe/lista-universidades/'

In [5]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\Liliana\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache
<ipython-input-5-c026f0c15647>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [6]:
driver.get(url)
print ('url: ', driver.current_url)
print('title: ', driver.title)
driver.maximize_window()

url:  https://www.sunedu.gob.pe/lista-universidades/
title:  Lista de Universidades Peruanas

In [7]:
publicas_path = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/ul/li[1]/a')
publicas_path.click()

In [8]:
table1_path = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[1]/div')
table1_html = table1_path.get_attribute('innerHTML')

In [9]:
#reading table using pandas
table1 = pd.read_html(table1_html)
table_publicas = table1[0].copy()

In [10]:
# insertar nuevas columnas
table_publicas['TIPO'] = "Pública"
table_publicas['CONDICIÓN JURÍDICA'] = "NaN"
table_publicas.rename(columns = {'DISPOSITIVO LEGAL DE LICENCIAMIENTO': 'DISPOSITIVO LEGAL DE LICENCIAMIENTO O DENEGATORIA'} , inplace=True)

In [11]:
privadas_path = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/ul/li[2]/a')
privadas_path.click()

In [12]:
table2_path = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[2]/div')
table2_html = table2_path.get_attribute('innerHTML')

In [13]:
table2 = pd.read_html(table2_html)
table_privadas = table2[0].copy()

In [14]:
table_privadas['TIPO'] = "Privada"

In [15]:
print(table_publicas.shape)
print(table_privadas.shape)

(51, 10)
(92, 10)

In [16]:
# concatenate private and public sector peruvian universities
univ_all = pd.concat([table_publicas, table_privadas]).reset_index(drop = True)
univ_all.rename(columns = {'DEPARTAMENTO': 'Department_univ', 'PROVINCIA': 'Province_univ', 'UNIVERSIDAD': 'Name_univ'}, inplace = True)

# select variables and assign adress for geolocation
univ = univ_all[['Department_univ', 'Province_univ', 'Name_univ']].assign(Adress_univ = univ_all.Name_univ + ', ' + univ_all.Province_univ + ', ' + univ_all.Department_univ)
univ.tail()

,Department_univ,Province_univ,Name_univ,Adress_univ
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,Universidad Santo Tomás de Aquino de Ciencia e...
139,Lima,Lima,Universidad Privada SISE,"Universidad Privada SISE, Lima, Lima"
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),Universidad Seminario Evangélico de Lima (*12)...
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12),"Universidad Seminario Bíblico Andino (*12), Li..."
142,Lima,Lima,Universidad Católica San José,"Universidad Católica San José, Lima, Lima"

In [17]:
# verificar Adress
i = 0
for adress in range(univ.Adress_univ.shape[0]) :
    print(univ.iloc[i,3])
    i = i + 1
# utilizar regex para quitar (*..)

Universidad Nacional Mayor de San Marcos, Lima, Lima
Universidad Nacional de San Cristóbal de Huamanga, Huamanga, Ayacucho
Universidad Nacional de San Antonio Abad del Cusco, Cusco, Cusco
Universidad Nacional de Trujillo, Trujillo, La Libertad
Universidad Nacional de San Agustín de Arequipa, Arequipa, Arequipa
Universidad Nacional de Ingeniería, Lima, Lima
Universidad Nacional Agraria La Molina, Lima, Lima
Universidad Nacional San Luis Gonzaga, Ica, Ica
Universidad Nacional del Centro del Perú, Huancayo, Junín
Universidad Nacional de la Amazonía Peruana, Maynas, Loreto
Universidad Nacional del Altiplano, Puno, Puno
Universidad Nacional de Piura, Piura, Piura
Universidad Nacional de Cajamarca, Cajamarca, Cajamarca
Universidad Nacional Federico Villarreal, Lima, Lima
Universidad Nacional Agraria de la Selva, Leoncio Prado, Huánuco
Universidad Nacional Hermilio Valdizán de Huánuco, Huánuco, Huánuco
Universidad Nacional de Educación Enrique Guzmán y Valle, Lima, Lima
Universidad Nacional Daniel Alcides Carrión, Pasco, Pasco
Universidad Nacional del Callao, Callao, Callao
Universidad Nacional José Faustino Sánchez Carrión, Huaura, Lima
Universidad Nacional Pedro Ruiz Gallo, Lambayeque, Lambayeque
Universidad Nacional Jorge Basadre Grohmann, Tacna, Tacna
Universidad Nacional Santiago Antúnez de Mayolo, Huaraz, Ancash
Universidad Nacional de San Martín, San Martín, San Martín
Universidad Nacional de Ucayali, Coronel Portillo, Ucayali
Universidad Nacional de Tumbes, Tumbes, Tumbes
Universidad Nacional del Santa, Santa, Ancash
Universidad Nacional de Huancavelica, Huancavelica, Huancavelica
Universidad Nacional Amazónica de Madre de Dios, Tambopata, Madre De Dios
Universidad Nacional Toribio Rodríguez de Mendoza de Amazonas, Chachapoyas, Amazonas
Universidad Nacional Micaela Bastidas de Apurímac, Abancay, Apurímac
Universidad Nacional Intercultural de la Amazonía, Coronel Portillo, Ucayali
Universidad Nacional Tecnológica de Lima Sur (*1), Lima, Lima
Universidad Nacional José María Arguedas, Andahuaylas, Apurímac
Universidad Nacional de Moquegua, Mariscal Nieto, Moquegua
Universidad Nacional de Juliaca, San Román, Puno
Universidad Nacional de Jaén, Jaén, Cajamarca
Universidad Nacional de Frontera, Sullana, Piura
Universidad Nacional Autónoma de Chota, Chota, Cajamarca
Universidad Nacional de Barranca, Barranca, Lima
Universidad Nacional de Cañete, Cañete, Lima
Universidad Nacional Intercultural Fabiola Salazar Leguía de Bagua, Bagua, Amazonas
Universidad Nacional Intercultural de la Selva Central Juan Santos Atahualpa, Chanchamayo, Junín
Universidad Nacional Intercultural de Quillabamba, La Convención, Cusco
Universidad Nacional Autónoma de Alto Amazonas, Alto Amazonas, Loreto
Universidad Nacional Autónoma Altoandina de Tarma, Tarma, Junín
Universidad Nacional Autónoma de Huanta, Huanta, Ayacucho
Universidad Nacional Tecnológica de San Juan de Lurigancho, Lima, Lima
Universidad Autónoma Municipal de Los Olivos, Lima, Lima
Universidad Nacional Autónoma de Tayacaja Daniel Hernández Morillo, Tayacaja, Huancavelica
Universidad Nacional Ciro Alegría, Sanchez Carrión, La Libertad
Pontificia Universidad Católica del Perú, Lima, Lima
Universidad Peruana Cayetano Heredia, Lima, Lima
Universidad Católica de Santa María, Arequipa, Arequipa
Universidad del Pacífico, Lima, Lima
Universidad de Lima, Lima, Lima
Universidad de San Martín de Porres, Lima, Lima
Universidad Femenina del Sagrado Corazón, Lima, Lima
Universidad Inca Garcilaso de la Vega, Lima, Lima
Universidad de Piura, Piura, Piura
Universidad Ricardo Palma, Lima, Lima
Universidad Andina Néstor Cáceres Velásquez, San Román, Puno
Universidad Peruana Los Andes, Huancayo, Junín
Universidad Peruana Unión, Lima, Lima
Universidad Andina del Cusco, Cusco, Cusco
Universidad Tecnológica de los Andes, Abancay, Apurímac
Universidad Privada de Tacna, Tacna, Tacna
Universidad Particular de Chiclayo, Chiclayo, Lambayeque
Universidad San Pedro (*1), Santa, Ancash
Universidad Privada Antenor Orrego, Trujillo, La Libertad
Universidad de Huánuco, Huánuco, Huánuco
Universidad José Carlos Mariátegui (*2), Mariscal Nieto, Moquegua
Universidad Marcelino Champagnat, Lima, Lima
Universidad Científica del Perú (*3), Maynas, Loreto
Universidad César Vallejo S.A.C., Trujillo, La Libertad
Universidad Católica Los Ángeles de Chimbote (*4), Santa, Ancash
Universidad Peruana de Ciencias Aplicadas S.A.C., Lima, Lima
Universidad Privada del Norte S.A.C., Trujillo, La Libertad
Universidad San Ignacio de Loyola S.A., Lima, Lima
Universidad Alas Peruanas, Lima, Lima
Universidad Privada Norbert Wiener, Lima, Lima
Universidad Católica San Pablo, Arequipa, Arequipa
Grupo Educativo Universidad Privada de Ica S.A.C. (*5 *13), Ica, Ica
Universidad Privada San Juan Bautista S.A.C. (*6), Lima, Lima
Universidad Tecnológica del Perú, Lima, Lima
Universidad Continental S.A.C. (*7), Huancayo, Junín
Universidad Científica del Sur S.A.C., Lima, Lima
Universidad Católica Santo Toribio de Mogrovejo, Chiclayo, Lambayeque
Universidad Privada Antonio Guillermo Urrelo, Cajamarca, Cajamarca
Universidad Católica Sedes Sapientiae, Lima, Lima
Universidad Señor de Sipán, Chiclayo, Lambayeque
Universidad Católica de Trujillo Benedicto XVI (*8), Trujillo, La Libertad
Universidad Peruana de las Américas, Lima, Lima
Universidad ESAN, Lima, Lima
Universidad Antonio Ruiz de Montoya, Lima, Lima
Universidad Peruana de Ciencias e Informática, Lima, Lima
Universidad para el Desarrollo Andino, Angaraes, Huancavelica
Universidad Privada Telesup, Lima, Lima
Universidad Sergio Bernales S.A., Cañete, Lima
Universidad Privada de Pucallpa S.A.C., Coronel Portillo, Ucayali
Universidad Autónoma de Ica S.A.C. (*9), Chincha, Ica
Universidad Privada de Trujillo, Trujillo, La Libertad
Universidad Privada San Carlos, Puno, Puno
Universidad Peruana Simón Bolivar, Lima, Lima
Universidad Peruana de Integración Global S.A.C., Lima, Lima
Universidad Peruana del Oriente S.A.C., Maynas, Loreto
Universidad Autónoma del Perú, Lima, Lima
Universidad de Ciencias y Humanidades, Lima, Lima
Universidad Privada Juan Mejía Baca, Chiclayo, Lambayeque
Universidad Jaime Bausate y Meza, Lima, Lima
Universidad Peruana del Centro, Huancayo, Junín
Universidad Privada Arzobispo Loayza S.A.C, Lima, Lima
Universidad Le Cordon Bleu S.A.C., Lima, Lima
Universidad Privada de Huancayo Franklin Roosevelt, Huancayo, Junín
Universidad de Lambayeque S.A.C., Chiclayo, Lambayeque
Universidad de Ciencias y Artes de América Latina S.A.C., Lima, Lima
Universidad Peruana de Arte Orval S.A.C., Lima, Lima
Universidad Privada de la Selva Peruana (*10), Maynas, Loreto
Universidad Ciencias de la Salud, Arequipa, Arequipa
Universidad de Ayacucho Federico Froebel, Huamanga, Ayacucho
Universidad Peruana de Investigación y Negocios S.A.C., Lima, Lima
Universidad Peruana Austral del Cusco, Cusco, Cusco
Universidad Autónoma San Francisco, Arequipa, Arequipa
Universidad San Andrés, Lima, Lima
Universidad Interamericana para el Desarrollo, Lima, Lima
Universidad Privada Juan Pablo II, Lima, Lima
Universidad Privada Leonardo Da Vinci S.A.C. (*11), Trujillo, La Libertad
Universidad de Ingeniería y Tecnología, Lima, Lima
Universidad La Salle, Arequipa, Arequipa
Universidad Latinoamericana CIMA, Tacna, Tacna
Universidad Privada Autónoma del Sur, Arequipa, Arequipa
Universidad María Auxiliadora, Lima, Lima
Universidad Politécnica Amazónica S.A.C., Utcubamba, Amazonas
Universidad Santo Domingo de Guzmán, Huarochirí, Lima
Universidad Marítima del Perú, Callao, Callao
Universidad Privada Líder Peruana, La Convención, Cusco
Universidad Privada Peruano Alemana S.AC., Lima, Lima
Universidad Global del Cusco, Cusco, Cusco
Universidad Santo Tomás de Aquino de Ciencia e Integración, Huancayo, Junín
Universidad Privada SISE, Lima, Lima
Universidad Seminario Evangélico de Lima (*12), Lima, Lima
Universidad Seminario Bíblico Andino (*12), Lima, Lima
Universidad Católica San José, Lima, Lima

In [155]:
# create new empty columns
#new_cols = ['Latitude_univ', 'Longitude_univ', 'Dpt_Centroid_Latitude', 'Dpt_Centroid_Longitude', 'travel_time_best_guess', 'travel_time_pessimistic', 'travel_time_optimistic', 'travel_distance_best_guess', 'travel_distance_pessimistic', 'travel_distance_optimistic']
#univ_final = univ.reindex(columns=univ.columns.tolist() + new_cols)

In [157]:
#univ_final.iloc[0:2, :]

,Department_univ,Province_univ,Name_univ,Adress_univ,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude,travel_time_best_guess,travel_time_pessimistic,travel_time_optimistic,travel_distance_best_guess,travel_distance_pessimistic,travel_distance_optimistic
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,"Universidad Nacional Mayor de San Marcos, Lima...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,Universidad Nacional de San Cristóbal de Huama...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
#'Latitude_univ', 'Longitude_univ', 'Dpt_Centroid_Latitude', 'Dpt_Centroid_Longitude', 'travel_time_best_guess', 'travel_time_pessimistic', 'travel_time_optimistic', 'travel_distance_best_guess', 'travel_distance_pessimistic', 'travel_distance_optimistic'

#### 2. geocoding peruvian universities adresses

In [18]:
import urllib.request
import csv
import requests
import os
import json
import datetime
import dateutil.parser
import unicodedata
import time

In [19]:
import googlemaps
from datetime import datetime
from tqdm import tqdm_notebook as tqdm

In [20]:
# API Key
gmaps = googlemaps.Client(key = 'AIzaSyCfJGGN0-XIrMx-QGSiWUhSbq2EHLrFLs8')
geocode_result = gmaps.geocode( "Universidad Nacional Mayor de San Marcos, Lima, Lima" , region='pe')

In [21]:
print(geocode_result[0]['geometry']['location']['lat'])
print(geocode_result[0]['geometry']['location']['lng'])

-12.0561578
-77.0845196

In [22]:
type(univ['Adress_univ'])

pandas.core.series.Series

In [23]:
coord = np.zeros(shape=( univ['Adress_univ'].shape[0] , 2), dtype = float )

In [24]:
i=0
for index, row in tqdm(univ.iterrows()):   

    # Geocoding an address
    geocode_result = gmaps.geocode( row['Adress_univ'], region='pe')
    if len(geocode_result)==0 :
        coord[i][0] = "nan"
        coord[i][1] = "nan"
        
        i=i+1
        
        print(row['Adress_univ'])
        print("el codigo encontro error")
        
    else :
        coord[i][0]=geocode_result[0]['geometry']['location']['lat']
        coord[i][1]=geocode_result[0]['geometry']['location']['lng']
        i=i+1

<ipython-input-24-91f277c53380>:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index, row in tqdm(univ.iterrows()):

0it [00:00, ?it/s]

Universidad ESAN, Lima, Lima
el codigo encontro error

In [26]:
univ[ [ 'Latitude_univ' , 'Longitude_univ' ] ] = pd.DataFrame( coord.tolist(), index = univ.index)
univ

,Department_univ,Province_univ,Name_univ,Adress_univ,Latitude_univ,Longitude_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,"Universidad Nacional Mayor de San Marcos, Lima...",-12.056158,-77.084520
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,Universidad Nacional de San Cristóbal de Huama...,-13.161248,-74.225772
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,"Universidad Nacional de Trujillo, Trujillo, La...",-8.115007,-79.038305
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,Universidad Nacional de San Agustín de Arequip...,-16.397139,-71.537144
...,...,...,...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488
139,Lima,Lima,Universidad Privada SISE,"Universidad Privada SISE, Lima, Lima",-12.077645,-77.035855
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),Universidad Seminario Evangélico de Lima (*12)...,-12.063959,-76.960074
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12),"Universidad Seminario Bíblico Andino (*12), Li...",-12.069621,-77.053398
142,Lima,Lima,Universidad Católica San José,"Universidad Católica San José, Lima, Lima",-12.083682,-77.069168

In [28]:
#univ.to_csv('univ.csv', index=False, encoding='UTF-8-SIG')

#### 3. Merge with centroids data

In [49]:
#univ = pd.read_csv('univ.csv')

In [50]:
## preparing datasets for merge
# making string columns to lowercase for univ data frame
univ['Department_univ'] = univ['Department_univ'].str.lower().apply( lambda x : unidecode.unidecode( x ) )
univ

,Department_univ,Province_univ,Name_univ,Adress_univ,Latitude_univ,Longitude_univ
0,lima,Lima,Universidad Nacional Mayor de San Marcos,"Universidad Nacional Mayor de San Marcos, Lima...",-12.056158,-77.084520
1,ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,Universidad Nacional de San Cristóbal de Huama...,-13.161248,-74.225772
2,cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321
3,la libertad,Trujillo,Universidad Nacional de Trujillo,"Universidad Nacional de Trujillo, Trujillo, La...",-8.115007,-79.038305
4,arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,Universidad Nacional de San Agustín de Arequip...,-16.397139,-71.537144
...,...,...,...,...,...,...
138,junin,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488
139,lima,Lima,Universidad Privada SISE,"Universidad Privada SISE, Lima, Lima",-12.077645,-77.035855
140,lima,Lima,Universidad Seminario Evangélico de Lima (*12),Universidad Seminario Evangélico de Lima (*12)...,-12.063959,-76.960074
141,lima,Lima,Universidad Seminario Bíblico Andino (*12),"Universidad Seminario Bíblico Andino (*12), Li...",-12.069621,-77.053398
142,lima,Lima,Universidad Católica San José,"Universidad Católica San José, Lima, Lima",-12.083682,-77.069168

In [37]:
univ.groupby(['Department_univ']).count()

,Province_univ,Name_univ,Adress_univ,Latitude_univ,Longitude_univ
Department_univ,,,,,
Amazonas,3,3,3,3,3
Ancash,4,4,4,4,4
Apurímac,3,3,3,3,3
Arequipa,7,7,7,7,7
Ayacucho,3,3,3,3,3
Cajamarca,4,4,4,4,4
Callao,2,2,2,2,2
Cusco,6,6,6,6,6
Huancavelica,3,3,3,3,3
Huánuco,3,3,3,3,3
Ica,3,3,3,3,3
Junín,8,8,8,8,8
La Libertad,8,8,8,8,8
Lambayeque,6,6,6,6,6
Lima,56,56,56,55,55
Loreto,5,5,5,5,5
Madre De Dios,1,1,1,1,1
Moquegua,2,2,2,2,2
Pasco,1,1,1,1,1
Piura,3,3,3,3,3
Puno,4,4,4,4,4
San Martín,1,1,1,1,1
Tacna,3,3,3,3,3
Tumbes,1,1,1,1,1
Ucayali,3,3,3,3,3

In [51]:
centroids_raw = pd.read_excel(r'../../_data/peru_departments_centroids.xlsx')
# making string columns to lowercase for centroids data frame
centroids_raw['NOMBDEP'] = centroids_raw['NOMBDEP'].str.lower()

In [75]:
univ_centroids = pd.merge(univ, centroids_raw, left_on = 'Department_univ', right_on = 'NOMBDEP').drop(['CCDD','NOMBDEP','CAPITAL', 'Adress_univ'], axis = 1)
print(centroids_raw.columns)
print(univ.columns)
print(univ_centroids.columns)

Index(['CCDD', 'NOMBDEP', 'CAPITAL', 'Dpt_Centroid_Latitude',
       'Dpt_Centroid_Longitude'],
      dtype='object')
Index(['Department_univ', 'Province_univ', 'Name_univ', 'Adress_univ',
       'Latitude_univ', 'Longitude_univ'],
      dtype='object')
Index(['Department_univ', 'Province_univ', 'Name_univ', 'Latitude_univ',
       'Longitude_univ', 'Dpt_Centroid_Latitude', 'Dpt_Centroid_Longitude'],
      dtype='object')

In [71]:
# verificar merge
univ_centroids.groupby(['Department_univ']).mean()

,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
Department_univ,,,,
amazonas,-5.870807,-78.279265,-5.069369,-78.055235
ancash,-9.193448,-78.305452,-9.406368,-77.670229
apurimac,-13.635727,-73.047749,-14.028147,-72.974732
arequipa,-16.404241,-71.541316,-15.844475,-72.472918
ayacucho,-13.083357,-74.232526,-14.086284,-74.083968
cajamarca,-6.648215,-78.611363,-6.432297,-78.745878
callao,-12.061384,-77.132140,-11.940800,-77.126022
cusco,-13.304429,-72.190218,-13.189060,-72.170789
huancavelica,-12.708777,-74.840224,-13.023206,-75.002090
huanuco,-9.730574,-76.161389,-9.416089,-76.024205
ica,-13.859843,-75.866024,-14.233761,-75.574814
junin,-11.833028,-75.225551,-11.538922,-74.876839
la libertad,-8.083897,-78.901858,-7.921689,-78.368017
lambayeque,-6.765997,-79.868887,-6.340478,-79.826995
lima,-12.061284,-77.013824,-11.785115,-76.628934
loreto,-4.188043,-73.837341,-4.114622,-74.412649
madre de dios,-12.588566,-69.209527,-11.982106,-70.530759
moquegua,-17.190040,-70.939486,-16.858546,-70.837182
pasco,-10.668422,-76.254234,-10.398817,-75.297587
piura,-5.088656,-80.660639,-5.127846,-80.336263
puno,-15.671189,-70.078551,-14.923763,-69.950299
san martin,-34.578932,-58.526188,-7.033278,-76.714790
tacna,-18.015136,-70.239653,-17.644209,-70.276149
tumbes,-3.585267,-80.443305,-3.856391,-80.544689
ucayali,-8.376947,-74.566526,-9.623529,-73.430992

In [76]:
univ_centroids.head()

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,lima,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520,-11.785115,-76.628934
1,lima,Lima,Universidad Nacional de Ingeniería,-12.023179,-77.047630,-11.785115,-76.628934
2,lima,Lima,Universidad Nacional Agraria La Molina,-12.081749,-76.943190,-11.785115,-76.628934
3,lima,Lima,Universidad Nacional Federico Villarreal,-12.047555,-77.040452,-11.785115,-76.628934
4,lima,Lima,Universidad Nacional de Educación Enrique Guzm...,-12.066301,-76.953765,-11.785115,-76.628934

In [80]:
origin = 'Universidad Nacional Agraria La Molina'
destination = 'Universidad Nacional Mayor de San Marcos'

In [84]:
# Google MapsDdirections API endpoint
endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'

## Fixed Parameters
# Paramaters
traffic_model = 'best_guess'  

# Departure time
departure_time= 'now'

# driving, walking, biclycling, transit
mode = 'driving'

# key
api_key = 'AIzaSyCfJGGN0-XIrMx-QGSiWUhSbq2EHLrFLs8'

# region to look for (spain= es , germany = de , Switzerland= swiss)
region = 'pe'

In [85]:
## Parameters
# Origin
origin = '-12.056158,-77.084520'

# Destinations
destination = '-11.7851149934921,-76.628934149422'

#Building the URL for the request
nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin , 
                destination , departure_time , traffic_model , mode, region, api_key)

# https://maps.googleapis.com/maps/api/directions/json?origin=Toledo&destination=Madrid&region=es&key=AIzaSyD_4E6Hd-fYECy3mZ4asxN23JjIstvLdoE

# Concatenate strings
request = endpoint + nav_request

#Sends the request and reads the response.
response = urllib.request.urlopen(request).read()

#Loads response as JSON
directions = json.loads(response)

In [89]:
legs = directions['routes'][0]['legs'][0]

In [91]:
legs['distance']['value']

71709

In [ ]:
#"-11.7851149934921, -76.628934149422"